{% extends "base.html" %}

{% block content %}
<h1 class="mt-4">Minhas Solicitações</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Número do Protocolo</th>
      <th scope="col">Data</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for solicitation in solicitations %}
    <tr>
      <td>{{ solicitation.protocol }}</td>
      <td>{{ solicitation.timestamp.strftime('%d/%m/%Y %H:%M') }}</td>
      <td>{{ solicitation.status.name }}</td>
      <td>
        <a href="{{ url_for('routes.view_solicitation', solicitation_id=solicitation.id) }}" class="btn btn-primary btn-sm">Visualizar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('routes.new_solicitation') }}" class="btn btn-success mt-3">Cadastrar Nova Solicitação</a>
<a href="{{ url_for('routes.logout') }}" class="btn btn-danger mt-3">Logout</a>
{% endblock %}
